.modal-header {
    border-bottom: none !important;
    justify-content: end !important;
    padding: 1rem 0.5rem!important;
}
.modal-header .btn-close {
    padding: 0.25rem!important;
}
.modal-content {
    background: rgba(255, 255, 255, 0.925);
    border-radius: 1rem!important;
}

.modal-body {
    padding: 1.5rem !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}


.smart-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* Safari */

.a {
    color: #50B6E3 !important;
    text-decoration: none;
}

.a:hover {
    color: #59cbfd !important;
}

@media (max-width: 1399px) {

    .buttons {
        flex-direction: column !important;
    }
}

@media (max-width: 992px) {

    .buttons {
        flex-direction: row !important;
    }
}

@media (max-width: 576px) {
    footer .nav {
        justify-content: center !important;
    }

    footer > p{
        text-align: center!important;
    }

    .fake-h4 {
        font-size: 1.2rem !important;
    }

    .contact-row .fake-h4 svg {
        height: 28px !important;
        width: 28px !important;
    }

    footer {
        padding-bottom: 0 !important;
    }

    .py-5 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .p-5 {
        padding: 2rem 2rem 0rem 2rem !important;
    }

    .py-4 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .py-3 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .my-4 {
        margin-top: 0.5rem !important;
        margin-bottom: 0 !important;
    }

    footer p {
        padding-top: 1rem !important;
    }

    .buttons a button {
        width: 215px !important;
    }

    header > a {
        padding-right: 1rem !important
    }

    .long-text {
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 375px) {
    .fake-h4 a svg {
        display: none;
    }
}

.modal-body img {
    height: 100% !important;
    width: 100% !important;
}

.carousel-control-next{
    width: 5%!important;
    background-color: white!important;
    opacity: 1!important;
}

.carousel-control-prev{
    width: 5%!important;
    background-color: white!important;
    opacity: 1!important;
}
.carousel-control-next-icon{
    filter: invert(100%)!important;
}

.carousel-control-prev-icon{
    filter: invert(100%)!important;
}

.carousel-indicators [data-bs-target] {
    background-color: #6c757d!important;
}


@media (min-width: 992px) {
  .ref-image{
      width: 40%;
  }
}
.small{
    font-size: 0.75rem!important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
