header, .header-container{
    background-color: white!important;
}

.text-justify {
    text-align: justify;
  }


.contact-row{
    padding: 4px 0 4px 0;
    text-decoration: none;
}

.contact-row>h4>a{
    text-decoration: none;
}


.contact-row>h4>a>p{
    display: inline-block;
    padding-left:8px;
}


.cooperation-logo{
    padding: 8px;
    margin: 8px;
}

.text-color-es-plain {
    color: #50B6E3 !important;
}

.text-color-es {
    color: #50B6E3 !important;
}

.text-color-es:hover {
    color: #59cbfd !important;
}

.bg-color-es{
    background-color: #50B6E3 !important;
}

.bg-color-es:hover{
    background-color: #59cbfd!important;
    transition: ease-in 0.3;
}

.bg-green{
    background-color:#52cc52!important;
}

.bg-green:hover{
    background-color: #57d957!important;
}


.link-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #50B6E3;
    transition: width .3s;
}

.link-hover:hover::after {
    width: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

blue{
    color:#50B6E3 !important;
}

.feature-icon{
    height:64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.feature-icon:hover{
    background-color: #50B6E3 !important;
}

.no-decoration{
    text-decoration: none !important;
}

.btn-no-style{
    padding: 0 !important;
    margin: 0!important;
    text-decoration: none!important;
    border: none!important;
    width: 100%!important;
    height: 100%!important;
    background-color: transparent!important;
    border-radius: 1rem;
}

.btn-no-style:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.25)!important;
    background-color: transparent!important;
    transition: .3s!important;
    transform: scale(1.02);
}

.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(2px) grayscale(10%);
}

.modal-content{
    background: rgba(255,255,255,0.925)
}

.h-90{
    height: 90%!important;
}

.wh-100{
    width: 100%!important;
}

.pr-2{
    padding-right: 0.5rem!important;
}
.modal-body{
    padding-bottom: 0!important;
}

.light-gray{
    color: rgb(200,200,200);
}

.light-gray{
    color: rgb(200,200,200)!important;
}


.smart-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }

  .pt-8{
      padding-top: 4.7rem;
  }

  /* Safari */

.a {
    color: #50B6E3 !important;
    text-decoration: none;
}

.a:hover {
    color: #59cbfd !important;
}


.img-fluid{
    max-width: 82%!important;
}

.footer-nav{
    justify-content: flex-end!important;
}

@media (max-width: 576px){

    .footer-nav{
        justify-content: center;
    }
}